<div class="works" id="works">
  <h2 class="title works__title">
    Портфолио
  </h2>
  <ul>
    <li class="works__item-desc works__item-desc--spa"
        (mouseenter)="onChangeIsHovered('Spa', true)"
        (mouseleave)="onChangeIsHovered('Spa', false)"
    >
      <span>
        Разработка SPA
        <svg-icon-sprite
          src="assets/sprites/sprite.svg#arrow"
          classes="donut-svg"
        ></svg-icon-sprite>
      </span>
    </li>
    <li *ngFor="let item of spa" class="works__spa " [ngClass]="{'active': activeSpa}">
      <img src="../../../../../assets/images/{{item.img}}.jpg" alt="{{item.img}}">
      <span class="works__hover">
        <span>{{item.title}}</span>
        <a [routerLink]="item.link">Подробнее</a>
      </span>
    </li>
    <li class="works__item-desc works__item-desc--sites"
        (mouseenter)="onChangeIsHovered('Sites', true)"
        (mouseleave)="onChangeIsHovered('Sites', false)"
    >
      <span>
        Сайты под ключ
           <svg-icon-sprite
             src="assets/sprites/sprite.svg#arrow"
             classes="donut-svg"
           ></svg-icon-sprite>
      </span>
    </li>
    <li *ngFor="let item of sites" class="works__sites " [ngClass]="{'active': activeSites}">
      <img src="../../../../../assets/images/{{item.img}}.jpg" alt="{{item.img}}">
      <span class="works__hover">
        <span>{{item.title}}</span>
        <a [routerLink]="item.link">Подробнее</a>
      </span>
    </li>
    <li class="works__item-desc works__item-desc--teh"
        (mouseenter)="onChangeIsHovered('Teh', true)"
        (mouseleave)="onChangeIsHovered('Teh', false)"
    >
      <span>
        Тех-поддержка сайтов
        <svg-icon-sprite
          src="assets/sprites/sprite.svg#arrow"
          classes="donut-svg"
        ></svg-icon-sprite>
      </span>
    </li>
    <li *ngFor="let item of teh" class="works__teh " [ngClass]="{'active': activeTeh}">
      <img src="../../../../../assets/images/{{item.img}}.jpg" alt="{{item.img}}">
      <span class="works__hover">
        <span>{{item.title}}</span>
        <a href="{{item.link}}" target="_blank">Перейти на сайт</a>
      </span>
    </li>
  </ul>
</div>
