.experience {
  margin-top: 150px;
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding: 0;
  }
}
