<section class="works">
		<h1>Мои работы</h1>
		<div class="works__desc">
				<p class="par par--bold">
						В мае 2018 г. я начал свою карьеру
						<br>
						"Frontend-разработчика".
				</p>
				<p class="par">
						Тут представлены работы в&nbsp;обратном порядке. Сначала новые. Если у&nbsp;Вас есть какие то&nbsp;пожелание
						или замечание, прошу обращаться на&nbsp;мой адрес электронной почты
						<a href="mailto:inpokon@gmail.com" class="nav__mail">inpokon@gmail.com</a>
				</p>
		</div>
		<ul class="works__list">
				<li
								*ngFor="let work of works; let i = index"
								class="works__item"
								[ngClass]="{'reverse' : i % 2 !== 0}"
				>
						<a [routerLink]="work.url" class="works__wrap-img">
								<svg-icon-sprite
												[src]='work.svg'
												[classes]='"works__svg works__svg--" + work.code'
								>
								</svg-icon-sprite>
								<div class="works__img" [style.backgroundImage]="'url(' + work.img + ')'"></div>
						</a>
						<div class="works__block">
								<h3 class="works__title">{{work.name}}</h3>
								<div class="works__box">
										<p class="par" *ngFor="let par of work.desc">{{par}}</p>
										<a
														*ngIf="work.route"
														[routerLink]="work.url"
														class="btn"
										>
												Подробнее
										</a>
										<a
														*ngIf="!work.route"
														[href]="work.url"
														target="_blank"
														class="btn"
										>
												Перейти
										</a>
								</div>
						</div>
				</li>
		</ul>
</section>
