.skills {
  margin-top: 120px;
  margin-bottom: 80px;
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 80px 0;
    padding: 0;
  }
}

.skills__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  max-width: 1250px;
  margin: 70px auto 0;
  justify-content: center;
}
.skills__item {
  height: 200px;
  min-width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  & > span {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
.skills__item svg {
  color: rgba(#80059A, 0.6);
  transition: all .3s;
  &:hover {
    transform: scale(1.2);
    color: #80059A;
  }
}
.skills__item svg-icon-sprite {
  width: 100px;
  height: 100px;
  transition: .5s;
}
.skills__item svg-icon-sprite.active {
  height: 200px;
  width: 200px;
}

.arrow {
  border: 1px solid rgba(#80059A, 0.6);
  color: rgba(#80059A, 0.6);
  border-radius: 50%;
  padding: 10px;
  outline: none;
  transition: all .3s;
  background-color: #fff;
  &--next {
    transform: rotate(180deg);
  }
  &:hover{
    color: #80059A;
    border-color: #80059A;
  }
}
button {
  outline: none;
}
button[disabled] .arrow {
  opacity: 0;
}
.skills__slider div.controls {
  width: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1920px) {
  .skills {
    margin-top: 90px;
    &__title {
      font-size: 30px;
      margin: 0 0 50px 0;
    }
  }
}

@media (max-width: 1680px) {
  .skills {
    margin-top: 80px;
    &__title {
      font-size: 26px;
      margin: 0 0 40px 0;
    }
  }
}

@media (max-width: 1024px) {
  .skills {
    padding-top: 70px;
  }
  .skills__slider {
    max-width: 768px;
  }
}
@media (max-width: 991.98px) {
  .skills__slider {
    width: 90%;
  }
  .skills__slider div.controls {
    width: 150%;
  }
}

@media (max-width: 767.98px) {
  .skills__slider div.controls {
    width: 130%;
  }
}

@media (max-width: 575.98px) {
  .skills {
    margin-top: 50px;
  }
  .skills__title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .skills__slider div.controls {
    width: 160%;
  }
}
