<div class="erp-wrapper">
  <app-nav></app-nav>
  <div class="erp">
    <div class="erp__tabs">
      <div class="tabs">
        <div class="tab "
             [ngClass]="{'active' : currentTab === 'common'}"
             (click)="onClickTab('common')"
        >
          Общие компоненты
        </div>
        <div class="tab "
             [ngClass]="{'active' : currentTab === 'doctor'}"
             (click)="onClickTab('doctor')"
        >
          Роль врача
        </div>
        <div class="tab "
             [ngClass]="{'active' : currentTab === 'admin'}"
             (click)="onClickTab('admin')"
        >
          Роль администратора
        </div>
      </div>
    </div>
    <div class="erp__images">
      <div class="erp__img"
           *ngFor="let item of items; let i = index"
           (click)="onClickImg(item, i)"
      >
        <img [src]="'../../../../' + item.img" [alt]="item.name">
        <span>
          {{item.name}}
        </span>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="openModal">
    <div class="modal__wrap">
      <div class="modal__close"
           (click)="onCloseModal()"
      >
        <svg-icon-sprite
          src="assets/sprites/sprite.svg#plus"
          classes="close"
          width="20px"
          height="20px"
        >
        </svg-icon-sprite>
      </div>
      <div class="modal__arrow modal__arrow--prev"
           *ngIf="currentIndex !== 0"
           (click)="onClickArrow(false)"
      >
        <svg-icon-sprite
          src="assets/sprites/sprite.svg#arrow"
          classes="arrow arrow--prev"
          width="20px"
          height="20px"
        >
        </svg-icon-sprite>
      </div>
      <div class="modal__content">
        <div class="modal__img">
          <img [src]="'../../../../' + currentItem.img" [alt]="currentItem.name">
        </div>
        <div class="modal__desc">
          {{currentItem.prompt}}
        </div>
      </div>
      <div class="modal__arrow modal__arrow--next"
           *ngIf="currentIndex !== items.length - 1"
           (click)="onClickArrow(true)"
      >
        <svg-icon-sprite
          src="assets/sprites/sprite.svg#arrow"
          classes="arrow arrow--next"
          width="20px"
          height="20px"
        >
        </svg-icon-sprite>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
