<div class="about">
		<div class="about__warn">
				<span>
						<img class="about__warn-img" src="../../../../assets/icons/idea.svg" alt="Обучение">
						- Обучение
				</span>
				<span>
						<img class="about__warn-img" src="../../../../assets/icons/briefcase.svg" alt="Работа">
						- Работа
				</span>
		</div>
		<div class="about__wrap">
				<div class="about__block">
						<div class="about__item about__item--reverse">
								<span>
										Принято решение стать
										<br>
										"Frontend-разработчиком"
								</span>
								<div class="about__position-bottom">
										Май 2018
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#power'
														classes='svg-about svg-power'
														width="50px"
														height="50px"
										>
										</svg-icon-sprite>
								</div>
						</div>
						<div class="about__item about__item--reverse">
								<span>
										Академия верстки: Веб-разработчик
										<br>
										Geekbrains: Веб-разработчик
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/idea.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Июнь 2018
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#html5'
														classes='svg-about'
														width="50px"
														height="50px"
										>
										</svg-icon-sprite>
								</div>
						</div>
						<div class="about__item about__item--reverse">
								<span>
										Академия верстки:
										<br>
										Wordpress для верстальщика
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/idea.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Август 2018
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#wordpress'
														classes='svg-about svg-about--wp'
														width="80px"
														height="80px"
										>
										</svg-icon-sprite>
								</div>
						</div>
				</div>
				<div class="about__block about__block--one">
						<div class="about__item about__item--reverse">
								<span>
										Первый самостоятельный проект
										<br>
										Landing-page <a href="https://xn--90aharfglvcf9e0b3bi.xn--p1ai/" target="_blank">"Серебряный ключ"</a>
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/briefcase.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Ноябрь 2018
								</div>
						</div>
						<div class="about__item about__item--reverse">
						<span>
								Git, Gulp, SCSS, SASS
								<br>
								Тех-поддержка сайтов
						</span>
								<div class="about__info">
										<img src="../../../../assets/icons/idea.svg" alt="Обучение">
										<img src="../../../../assets/icons/briefcase.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Октябрь 2018
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#gulp'
														classes='svg-about'
														height="80px"
														width="80px"
										>
										</svg-icon-sprite>
								</div>
						</div>
						<div class="about__item about__item--reverse">
						<span>
								Frontend-разработчик в "MMIT"
								<br>
								"Изучение JavaScript"
						</span>
								<div class="about__info">
										<img src="../../../../assets/icons/briefcase.svg" alt="Обучение">
										<img src="../../../../assets/icons/idea.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Сентябрь 2018
								</div>
								<div class="about__svg">
										<div class="svg-about">JS</div>
								</div>
						</div>
						<div class="about__item about__item--reverse">
								<span>
										"Jquery для верстки"
										<br>
										"Bower, npm"
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/idea.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Август 2018
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#jquery'
														classes='svg-about'
														width="70px"
														height="70px"
										>
										</svg-icon-sprite>
								</div>
						</div>
				</div>
				<div class="about__block about__block--two">
						<div class="about__item about__item--reverse">
								<span>
										Подключился к работе над
										<br>
										сайтом <a href="https://newsmile.clinic/" target="_blank">"NewSmile Clinic"</a>
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/briefcase.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Декабрь 2018
								</div>
						</div>
						<div class="about__item about__item--reverse">
								<span>
										Webpack, ES6
										<br>
										1C-Битрикс
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/idea.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Январь 2019
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#tooth'
														classes='svg-about svg-about--tooth'
														width="60px"
														height="60px"
										>
										</svg-icon-sprite>
								</div>
						</div>
						<div class="about__item about__item--reverse">
								<span>
										Интернет-магазин
										<br>
										<a href="https://flyboots.ru/" target="_blank">"Flyboots"</a>
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/briefcase.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Февраль 2019
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#webpack'
														classes='svg-about'
														width="70px"
														height="70px"
										>
										</svg-icon-sprite>
								</div>
						</div>
						<div class="about__item about__item--reverse">
								<span>
										Разработка ERP-приложение
										<br>
										"ERP NewSmile Clinic"
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/briefcase.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Март 2019
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#fb'
														classes='svg-about'
														width="60px"
														height="60px"
										>
										</svg-icon-sprite>
								</div>
						</div>
				</div>
				<div class="about__block about__block--three">
						<div class="about__item about__item--reverse">
						<span>
								Путь продолжается...
						</span>
								<div class="about__position-bottom">
										Июль 2019
								</div>
								<div class="about__svg">
										<div class="svg-about">...</div>
								</div>
						</div>
						<div class="about__item about__item--reverse">
								<span>
										AngularJS and NodeJS
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/idea.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Июнь 2019
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#angular'
														classes='svg-about'
														width="70px"
														height="70px"
										>
										</svg-icon-sprite>
								</div>
						</div>
						<div class="about__item about__item--reverse">
								<span>
										ReactJS
								</span>
								<div class="about__info">
										<img src="../../../../assets/icons/idea.svg" alt="Обучение">
										<img src="../../../../assets/icons/briefcase.svg" alt="Обучение">
								</div>
								<div class="about__position-bottom">
										Март 2018
								</div>
								<div class="about__svg">
										<svg-icon-sprite
														src='assets/sprites/sprite.svg#react'
														classes='svg-about'
														width="70px"
														height="70px"
										>
										</svg-icon-sprite>
								</div>
						</div>
				</div>
		</div>
</div>
