<nav
				class="nav"
>
		<div class="nav__wrap">
				<a routerLink="/" class="nav__logo">
						<svg-icon-sprite
										src="assets/sprites/sprite.svg#alien"
										classes="alien"
										width="30px"
										height="30px"
						></svg-icon-sprite>
						CoderBob
				</a>
				<ul class="nav__list">
						<li
										class="nav__item"
										*ngFor="let link of menu"
										routerLinkActive="active"
										[routerLinkActiveOptions]="{exact:true}"
						>
								<a [routerLink]="link.link">{{link.name}}</a>
						</li>
				</ul>

		</div>
</nav>
