<footer class="footer">
  <div class="footer__content">
    <div class="copy">© Copyright 2019<br>Frontend developer Антон Прокопьев</div>
    <ul class="social">
      <li class="social__item"><a class="social__link" href="https://vk.com/npokon" target="_blank">
        <svg class="vk">
          <use xlink:href="assets/images/sprites.svg#vk"></use>
        </svg></a></li>
      <li class="social__item"><a class="social__link" href="https://www.instagram.com/prokopyev_anton/" target="_blank">
        <svg class="instagram">
          <use xlink:href="assets/images/sprites.svg#instagram"></use>
        </svg></a></li>
      <li class="social__item"><a class="social__link" href="skype:npokon2008?call">
        <svg class="skype">
          <use xlink:href="assets/images/sprites.svg#skype"></use>
        </svg></a></li>
      <li class="social__item"><a class="social__link" href="https://t.me/inpokon">
        <svg class="telegram">
          <use xlink:href="assets/images/sprites.svg#telegram"></use>
        </svg></a></li>
      <li class="social__item"><a class="social__link" href="viber://chat?number=+79086691969">
        <svg class="viber">
          <use xlink:href="assets/images/sprites.svg#viber"></use>
        </svg></a></li>
    </ul>
    <div class="footer__contacts"><a class="footer__phone" href="tel:+79086691969">
      <svg class="phone">
        <use xlink:href="assets/images/sprites.svg#phone"></use>
      </svg><span>+7 (908) 669-19-69</span></a><a class="footer__email" href="mailto:inpokon@gmail.com">
      <svg class="gmail">
        <use xlink:href="assets/images/sprites.svg#gmail"></use>
      </svg><span>inpokon@gmail.com</span></a></div>
  </div>
</footer>
