<footer class="footer">
  <div class="container">
    <div class="about">
      <div class="about__img">
        <img src="../../../../assets/images/photo.jpg" alt="photo">
      </div>
      <div class="about__info">
        <h3 class="about__title">
          Привет, меня зовут <span>Прокопьев Антон</span>
        </h3>
        <p>
          Я работаю Frontend-разработчиком более 2-х лет.
          <br>
          Мое основное направление - это разработка на ReactJS.
          <br>
          <br>
          React — JavaScript-библиотека с открытым исходным кодом для разработки пользовательских интерфейсов. React разрабатывается и поддерживается Facebook, Instagram и сообществом отдельных разработчиков и корпораций. React может использоваться для разработки одностраничных и мобильных приложений.
        </p>
      </div>
      <div class="about__contact">
        <h3>Контакты:</h3>
        <div class="about__contact-wrap">
          <ul>
            <li>
              <a href="#">+ 7 (908) 669-19-69</a>
            </li>
            <li>
              <a href="#">inpokon@gmail.com</a>
            </li>
          </ul>
          <div class="social">
            <a href="#">
              <svg-icon-sprite
                src="assets/sprites/sprite.svg#telegram"
                width="30px"
                height="30px"
              >
              </svg-icon-sprite>
            </a>
            <a href="#">
              <svg-icon-sprite
                src="assets/sprites/sprite.svg#vk"
                width="30px"
                height="30px"
              >
              </svg-icon-sprite>
            </a>
            <a href="#">
              <svg-icon-sprite
                src="assets/sprites/sprite.svg#instagram"
                width="30px"
                height="30px"
              >
              </svg-icon-sprite>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
