footer.footer {
	margin-left: 0;
	background-color: #020c16; }
.footer__content {
	width: 70%;
	max-width: 1250px;
	height: 120px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	color: #abbcc8;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center; }

.copy {
	font-family: "OpenSans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	white-space: normal; }

.social {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0; }
.social__item svg {
	fill: #abbcc8;
	width: 25px;
	height: 18px;
	-webkit-transition: fill .3s ease;
	-o-transition: fill .3s ease;
	-moz-transition: fill .3s ease;
	transition: fill .3s ease; }
.social__link {
	line-height: 100%;
	padding: 0 10px; }
.social__link:hover svg {
	fill: #629fd1; }

.footer__contacts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column; }
.footer__contacts a {
	color: #abbcc8;
	text-decoration: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-moz-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-transition: color .5s ease;
	-o-transition: color .5s ease;
	-moz-transition: color .5s ease;
	transition: color .5s ease; }
.footer__contacts a span {
	position: relative;
	padding: 5px 0; }
.footer__contacts a span::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #629fd1;
	-webkit-transition: width .5s ease;
	-o-transition: width .5s ease;
	-moz-transition: width .5s ease;
	transition: width .5s ease; }
.footer__contacts a:hover {
	color: #629fd1; }
.footer__contacts a:hover svg {
	fill: #629fd1; }
.footer__contacts a:hover span::before {
	width: 100%; }
.footer__contacts svg {
	fill: #abbcc8;
	width: 25px;
	height: 18px;
	-webkit-transition: fill .3s ease;
	-o-transition: fill .3s ease;
	-moz-transition: fill .3s ease;
	transition: fill .3s ease;
	margin-right: 10px; }
