<footer class="footer" id="footer">
  <div class="container">
    <h3>Контакты:</h3>
    <div class="footer__wrap">
      <div class="footer__contact">
        <ul>
          <li>
            <a href="tel:+79086691969">
              <svg-icon-sprite
                src="assets/sprites/sprite.svg#phone"
                width="16px"
                height="16px"
              >
              </svg-icon-sprite>
              + 7 (908) 669-19-69
            </a>
          </li>
          <li>
            <a href="mailto:inpokon@gmail.com">
              <svg-icon-sprite
                src="assets/sprites/sprite.svg#gmail"
                width="16px"
                height="16px"
              >
              </svg-icon-sprite>
              inpokon@gmail.com
            </a>
          </li>
        </ul>
        <div class="social">
          <a href="tg://resolve?domain=inpokon">
            <svg-icon-sprite
              src="assets/sprites/sprite.svg#telegram"
              width="25px"
              height="25px"
            >
            </svg-icon-sprite>
          </a>
          <a href="https://vk.com/npokon" target="_blank">
            <svg-icon-sprite
              src="assets/sprites/sprite.svg#vk"
              width="30px"
              height="30px"
            >
            </svg-icon-sprite>
          </a>
          <a href="https://www.instagram.com/prokopyev_anton/" target="_blank">
            <svg-icon-sprite
              src="assets/sprites/sprite.svg#instagram"
              width="25px"
              height="25px"
            >
            </svg-icon-sprite>
          </a>
        </div>
      </div>
      <div class="copy">

      </div>
    </div>
  </div>
</footer>
