<section class="erp">
		<h1>ERP NewSmile Clinic</h1>
		<p class="desc">
				Данное приложение закрыто от публичного пользования. Поэтому представляю вашему вниманию слайдшоу из картинок.
				<br>
				Пользуйтесь удобной навигацией и читайте комментарии к картинкам.
		</p>

		<div class="erp__wrap">
				<div class="erp__menu-wrap">
						<ul class="erp__menu erp__menu--one">
								<li class="tabs">
										<div
														class="tab"
														*ngFor="let tab of tabs; let i = index"
														[ngClass]="{'active': tab.active}"
														(click)="onClickTab(i, tab)"
										>
												{{tab.name}}
										</div>
								</li>
								<li *ngFor="let item of listMenu; let i = index">
										<span
														class="erp__link"
														[ngClass]="{' erp__link--active': item.activeClass}"
														(click)="menuItemClick(i, item, null)"
										>
												{{item.name}}
										</span>
										<ul class="erp__menu erp__menu--two" *ngIf="item.children !== undefined">
												<li *ngFor="let itemTwo of item.children; let idx = index">
																<span
																				class="erp__link"
																				[ngClass]="{' erp__link--active': itemTwo.activeClass}"
																				(click)="menuItemClick(i, itemTwo, idx)"
																>
																		{{itemTwo.name}}
																</span>
												</li>
										</ul>
								</li>
						</ul>
						<div class="erp__desc">
								{{prompt}}
						</div>
				</div>
				<div class="erp__content">
						<div
										class="erp__img"
										[style.backgroundImage]="'url(' + images + ')'"
						>
						</div>
				</div>
		</div>

</section>
