<div class="work-wrapper">
  <app-nav></app-nav>
  <div class="work">
    <div class="work__arrow work__arrow--prev" (click)="onClickArrow(false)">
      <svg-icon-sprite
        src="assets/sprites/sprite.svg#arrow"
        classes="arrow arrow--prev"
        width="25px"
        height="25px"
      >
      </svg-icon-sprite>
    </div>

    <div class="container">
      <h1>
        {{work.title}}
      </h1>
      <div class="work__content">
        <div>
          <div class="work__img">
            <img [src]="'../../../../assets/images/' + work.img + '.jpg'" [alt]="work.img">
          </div>

          <div class="work__button"
               *ngIf="currentRoute === 'erp'"
          >
            <span>
              В связи с политикой конфиденциальности данного проекта, я не могу предоставить доступы к приложению.
              <br>
              Поэтому, я подготовил для Вас небольшую презентацию в виде скриншотов.
            </span>
            <a class="btn"
               routerLink="/erp-info"
            >
              {{work.nameBtn}}
            </a>
          </div>

          <div class="work__button"
               *ngIf="currentRoute === 'organizer-about'"
          >
            <span>
              Тестовый логин и пароль: test@test.ru
            </span>
            <a class="btn"
               routerLink="/organizer"
            >
              {{work.nameBtn}}
            </a>
          </div>

          <div class="work__button"
               *ngIf="currentRoute !== 'organizer-about' && currentRoute !== 'erp'"
          >
            <a class="btn"
               [href]="work.link"
               target="_blank"
            >
              {{work.nameBtn}}
            </a>
          </div>

        </div>
        <div>
          <div class="work__wrap-desc">
            <h3>
              В разработке принимали участие:
            </h3>
            <ul>
              <li *ngFor="let member of work.members">
                {{member}}
              </li>
            </ul>
          </div>
          <div class="work__wrap-desc">
            <h3>
              Стек технологий:
            </h3>
            <ul>
              <li *ngFor="let skill of work.skills">
                {{skill}}
              </li>
            </ul>
          </div>
          <div class="work__wrap-desc">
            <h3>Краткое описание:</h3>
            <p>{{work.desc}}</p>
          </div>

        </div>
      </div>
    </div>

    <div class="work__arrow work__arrow--next" (click)="onClickArrow(true)">
      <svg-icon-sprite
        src="assets/sprites/sprite.svg#arrow"
        classes="arrow arrow--next"
        width="25px"
        height="25px"
      >
      </svg-icon-sprite>
    </div>

  </div>
  <app-footer></app-footer>
</div>
